
<section class="h-100 bg-dark" >
    <form [formGroup]="regForm" (ngSubmit)="saveEmployee(regForm)">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img2.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Employee registration form</h3>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" formControlName="firstName" />
                        <label class="form-label" for="form3Example1m">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" formControlName="lastName"  />
                        <label class="form-label" for="form3Example1n">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m1" class="form-control form-control-lg" formControlName="designation"/>
                        <label class="form-label" for="form3Example1m1">Designation</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example97" class="form-control form-control-lg" formControlName="emailId"  />
                            <label class="form-label" for="form3Example97">Email ID</label>
                          </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" class="form-control form-control-lg" formControlName="address" />
                    <label class="form-label" for="form3Example8">Address</label>
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                   
                  </div>
  
                  <div class="row">
                    
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example9" class="form-control form-control-lg" formControlName="pincode" />
                    <label class="form-label" for="form3Example9" >Pincode</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example90" class="form-control form-control-lg" formControlName="mobile"  />
                    <label class="form-label" for="form3Example90">Mobile</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example99" class="form-control form-control-lg" formControlName="companyName" />
                    <label class="form-label" for="form3Example99">Company Name</label>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <button type="button" class="btn btn-warning btn-lg ms-2" (click)="saveEmployee(regForm)">Submit form</button><br><br>&nbsp;
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-employee-display></app-employee-display>
      </div>
    </div>
   
</form>
  </section>

  
<router-outlet></router-outlet>